.AuthPageContainer {
    height: 100vh;
    width: 100vw;

    position: relative;
    font-size: 1.3rem;

    .WrapText {
        font-size: 1.4rem;
        width: 30%;
        text-wrap: wrap;
        text-align: center;
        line-height: 1.5;
    }
}

.AuthPageLogo {
    height: 7rem;
    width: 7rem;

    background: url("../../assets/logo.svg") no-repeat;
    background-size: contain;

    position: absolute;
    top: 2rem;
    left: 2rem;
}

.AuthFormContainer {
    height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AuthPageHeading {
    font: 2.5rem Numans;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);

    &::after {
        display: block;
        content: "";

        margin-top: 1rem;
        width: 45rem;
        border: solid rgba(0, 0, 0, 0.1) 0.1rem;
    }

    &.noDecor {
        &::after {
            display: none;
        }
    }
}

.GoogleButton {
    background-image: url("../../assets/google-button.svg");
    background-size: 100% 100%;
}

.AuthPageLink {
    font-weight: 500;
    color: rgba(100, 108, 255, 1);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: rgba(100, 108, 255, 0.8);
    }
}

.AuthPageCheckEmailImage {
    width: 20rem;
    height: 20rem;
    background: url("../../assets/checkEmail.png") no-repeat;
    background-size: contain;
}
