.DashboardHeaderContainer {
    background-color: var(--Primary-BG);
    padding: 1rem 5rem;
    display: flex;
    justify-content: right;

    button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        transition-duration: 0.3s;
        font: var(--Text-2);
        color: var(--Secondary-Text);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;

        *{
            transition-duration: 0.3s;
        }
        .DashboardHeaderIcon {
            width: fit-content;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: solid 0.1rem var(--BorderColor2);

            .Icon * {
                stroke: var(--Secondary-Text);
            }
        }

        &:hover {
            background-color: var(--Hover-BG);
            color: var(--Primary-Text);

            .DashboardHeaderIcon {
                border-color: var(--BorderColor4);
                .Icon * {
                    stroke: var(--Primary-Text);
                }
            }
        }
    }
}

.DashboardHeaderViewButton.BoardView {
    .DashboardHeaderIcon {
        .Icon {  
        transform: rotate(90deg);
        }
    }
}