.TodoAddSection {
    overflow: hidden;
    transition-duration: 0.3s;
    position: relative;

    .TodoAddSectionContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 0.5rem;
        position: absolute;
        top: 0;
        transition-duration: 0.3s;

        input {
            background-color: transparent;
            border: solid 0.1rem var(--BorderColor2);
            font: var(--Heading-2);
            color: var(--Primary-Text);
            padding: 0.5rem;
            border-radius: 0.5rem;
            grid-column: 1/5;

            &:focus {
                outline: none;
                border-color: var(--BorderColor3);
            }
        }

        .TodoAddSectionButtons {
            display: flex;
            gap: 0.5rem;
            button {
                font: var(--Text-1);
                background: var(--Primary-BG);
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                border: solid 0.1rem transparent;
                padding: 0.8rem;
                cursor: pointer;
                transition-duration: 0.3s;
            }
            .TodoAddSectionCancelButton {
                color: var(--Secondary-Text);
                border-color: var(--Secondary-Text);
                .Icon {
                    rotate: 45deg;

                    * {
                        fill: var(--Secondary-Text);
                    }
                }
                &:hover {
                    background-color: var(--Secondary-Text);
                    color: var(--Primary-BG);
                    .Icon * {
                        fill: var(--Primary-BG);
                    }
                }
            }

            .TodoAddSectionCancelButton {
                transition: all 0.3s ease-in-out, opacity 0s ease-in-out 0.3s;
            }
            .TodoAddSectionSaveButton {
                transition: all 0.3s ease-in-out, transform 0.3s ease-in-out 0.2s;
            }
        }
    }

    &.ListView {
        width: 100%;

        .TodoAddSectionContainer {
            margin-left: 5.6rem;
            width: calc(100% - 5.6rem);
        }
    }

    &.BoardView {
        width: 35.6rem;
        flex-shrink: 0;

        .TodoAddSectionContainer {
            margin-left: 3rem;
            width: 30rem;
        }
    }

    &.Collapsed {
        height: 4rem;

        .TodoAddSectionContainer {
            transform: translateY(-50%);

            .TodoAddSectionCancelButton {
                border: none;
                opacity: 0;
            }

            .TodoAddSectionSaveButton {
                color: var(--Disabled);
                transform: translateX(-80%);
                .Icon * {
                    stroke: var(--Disabled);
                    stroke-width: 0.2rem;
                    fill: none;
                }

                &:hover {
                    background-color: var(--Hover-BG);
                }
            }
        }
    }

    &.Active {
        height: 9rem;

        .TodoAddSectionContainer {
            .TodoAddSectionSaveButton {
                color: var(--Accent-Color);
                border-color: var(--Accent-Color);
                .Icon * {
                    fill: var(--Accent-Color);
                }
                &:hover {
                    background-color: var(--Accent-Color);
                    color: var(--Primary-BG);
                    .Icon * {
                        fill: var(--Primary-BG);
                    }
                }
            }
        }
    }
}
