:root {
    --Primary-BG : #1E1E1E;
    --Secondary-BG : #262626;
    --Primary-Text : #FFFFFF;
    --Secondary-Text : #CCCCCC;
    --Disabled : #808080;
    --Hover-BG : #CA9E5733;

    --Accent-BG : #DE4C4A33;
    --TaskBox-P0 : #ADADAD;
        --TaskBox-P0-BG : rgba(from var(--TaskBox-P0) r g b/ 30%)

} 