:root {
    --Primary-BG : #FFFFFF;
    --Secondary-BG : #FCFAF8;
    --Primary-Text : #202020;
    --Secondary-Text : #676767;
    --Accent-BG : #DE4C4A1A;
    --Disabled : #999999;
    --Hover-BG : #CA9E571A;

    --TaskBox-P0 : #676767;
        --TaskBox-P0-BG : rgba(from var(--TaskBox-P0) r g b/ 30%)

} 