.TodoEditTaskBckground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.TodoEditTaskContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem 5rem 3rem;
    background-color: var(--Primary-BG);
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80vh;
    max-width: 75rem;

    &.Checked {
        .TodoEditTaskTitle {
            color: var(--Disabled);
            text-decoration: line-through;
        }

        .TodoEditTaskDescription {
            color: var(--Disabled);
        }

        .TodoEditTaskDateButton,
        .TodoEditTaskPriorityButton {
            color: var(--Disabled);
            border-color: rgba(0, 0, 0, 0.2) !important;
            background-color: rgba(0, 0, 0, 0.03) !important;
            .Icon svg * {
                fill: var(--Disabled);
            }
        }
    }

    &.Editing {
        .TodoEditTaskContent {
            padding-block: 0.5rem;
            border-color: rgba(0, 0, 0, 0.3);
        }

        .TodoEditTaskData {
            row-gap: 0.5rem;
        }

        .TodoEditTaskPriorityButton,
        .TodoEditTaskDateButton {
            &:hover {
                background-color: rgba(0, 0, 0, 0.03) !important;
                cursor: not-allowed;
            }
        }
    }
}

.TodoEditTaskCloseButton {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 0.1rem var(--TaskBox-P4-BG);
    background-color: transparent;
    transition-duration: 0.2s;
    opacity: 0.7;
    svg * {
        fill: var(--TaskBox-P4);
        transition-duration: 0.2s;
    }
    &:hover {
        opacity: 1;
        background-color: var(--TaskBox-P1);
        border-color: var(--TaskBox-P1);
        svg * {
            fill: var(--Primary-BG);
        }
    }
}

.TodoEditTaskHeader {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
    font: var(--Text-2);
    color: var(--Disabled);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.08);
    width: fit-content;

    button {
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        font: var(--Text-2);
        color: var(--Secondary-Text);
        gap: 0.5rem;
        transition: all 0.25s;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: solid 0.1rem transparent;

        &:hover {
            background-color: var(--Hover-BG);
            color: var(--Secondary-Text);
        }
    }

    .TodoEditTaskTagButton {
        --tagColor: var(--Secondary-Text);
        border-color: rgba(0, 0, 0, 0.1);

        :nth-child(1).Icon svg * {
            fill: var(--tagColor);
            stroke: var(--tagColor);
            stroke-width: 0.15rem;
        }

        :nth-child(3).Icon svg * {
            stroke: var(--Secondary-Text);
            stroke-width: 0.15rem;
        }

        span {
            max-width: 6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .TodoEditTaskPathContainer {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font: var(--Text-3);
        color: var(--Secondary-Text);
        /* overflow-x: scroll; */
        overflow-x: auto;
        width: 100%;
        .Icon svg * {
            fill: var(--Secondary-Text);
        }
        span {
            max-width: 6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.TodoEditTaskMain {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* overflow-y: scroll; */
    overflow-y: auto;

    height: 100%;
}

.TodoEditTaskData {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2.5rem 4rem auto;
    row-gap: 0.2rem;

    align-items: start;
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
    padding-block: 1rem 2rem;

    & > :nth-child(1) {
        margin-top: 0.4rem;
    }
}

.TodoEditTaskContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-row: 1/2;
    grid-column: 2/4;
    height: 100%;
    border: solid 0.1rem transparent;
    border-radius: 0.5rem;
    textarea {
        border: none;
        padding: 0.5rem;
        text-wrap: nowrap;
        line-height: 1.5rem;
        width: 96%;
        min-height: 2.5rem;
        resize: none;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        overflow: hidden;
        transition-duration: 0.3s;
        flex-shrink: 0;

        &:focus,
        &:focus-within {
            outline: none;
        }
    }

    .TodoEditTaskTitle {
        font: var(--Text-1);
        color: var(--Primary-Text);
    }

    .TodoEditTaskDescription {
        font: var(--Text-2);
        color: var(--Secondary-Text);
    }

    &:hover {
        border-color: rgba(0, 0, 0, 0.1);
    }
}

.TodoEditTaskContentButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: solid 0.1rem;
        font: var(--Text-2);
        transition: all 0.25s;
        cursor: pointer;
        width: 8rem;
    }
}

.TodoEditTaskCancelButton {
    background-color: var(--Primary-BG);
    color: var(--Secondary-Text);

    .Icon {
        transform: rotate(45deg);
        svg * {
            fill: var(--Secondary-Text);
        }
    }

    &:hover {
        background-color: var(--Secondary-Text);
        color: var(--Primary-BG);
        border-color: var(--Secondary-Text);
        .Icon svg * {
            fill: var(--Primary-BG);
        }
        box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    }
}

.TodoEditTaskSaveButton {
    border: solid 0.1rem transparent;
    background-color: var(--Primary-BG);
    color: var(--Accent-Color);

    svg * {
        fill: var(--Accent-Color);
    }

    &:hover {
        background-color: var(--Accent-Color);
        color: var(--Primary-BG);
        border-color: var(--Accent-Color);
        svg * {
            fill: var(--Primary-BG);
        }
        box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    }
}

.TodoEditTaskPriorityButton {
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 0.1rem var(--TaskBox-P4-BG);
    grid-row: 3/4;
    grid-column: 2/3;
    width: fit-content;
}

.TodoEditTaskDateButton {
    --color: var(--Disabled);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 0.1rem var(--color);
    grid-row: 3/4;
    grid-column: 3/4;
    width: fit-content;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    font: var(--Text-2);
    color: var(--color);

    svg * {
        fill: var(--color);
    }

    &:hover {
        background-color: rgba(from var(--color) r g b/ 10%);
    }
}

.TodoEditTaskDatePicker {
    position: absolute;
    top: 95%;
    left: 7rem;
    z-index: 9999;
    height: auto;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.TodoEditTaskPrioritySelectorContainer {
    position: absolute;
    top: 95%;
    left: 3rem;
    z-index: 9999;
    background-color: var(--Primary-BG);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);

    display: flex;
    gap: 1rem;

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition-duration: 0.2s;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        font: var(--Text-3);
        padding: 0.3rem 1rem;
        border-radius: 0.5rem;
        border: solid 0.1rem;
    }
}

.TodoEditTaskSubTasksContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow: hidden;

    .TodoEditTaskSubTasksVIcon {
        transition-duration: 0.3s;
    }
    .TodoEditTaskSubTasksHeading {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font: var(--Heading-3);
        color: var(--Primary-Text);

        sup {
            font: var(--Text-3);
            color: var(--Secondary-Text);
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font: var(--Text-1);
            color: var(--Secondary-Text);
            padding: 0.3rem 0.5rem;
            border-radius: 0.5rem;
            &:hover {
                background-color: var(--Hover-BG);
            }
        }
    }

    .TodoEditTaskSubTasksContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 80rem;
        transition-duration: 0.3s;
        overflow: hidden;
        justify-content: space-between;
    }

    .TodoEditTaskSubTasksRemainingTodos,
    .TodoEditTaskSubTasksCompletedTodos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
        height: fit-content;
    }

    .TodoEditTaskSubTasksCompleted {
        margin-left: 2.4rem;
        /* margin-bottom: 2rem; */
        width: calc(100% - 2.4rem);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow: hidden;
        min-height: 10rem;
        .TodoEditTaskSubTasksHeading {
            font: var(--Text-1);
            color: var(--Secondary-Text);
        }

    }
}

.TodoEditTaskSubTasksContainer.Expanded,
.TodoEditTaskSubTasksCompleted.Expanded {
    min-height: 2rem;
    .TodoEditTaskSubTasksVIcon {
        transform: rotate(-90deg);
    }

    .TodoEditTaskSubTasksContent {
        max-height: 0;
    }
}
