.SideBarContainer {
    z-index: 1;
    width: 22rem;
    background-color: var(--Secondary-Bg);
    padding: 1rem;
    flex-shrink: 0;
    transition-duration: 0.3s;

    .SideBarLables,
    .SideBarProjectsLables {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-block: 0.5rem;
    }

    .SideBarUserLists {
        border: none;
        background-color: transparent;
        cursor: pointer;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.8rem;
        border-radius: 0.5rem;

        button {
            border: none;
            padding: 0.8rem 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            cursor: pointer;
            font: var(--Text-1);
            font-weight: bold;
            text-align: left;
            border-radius: 0.5rem;
        }

        .SideBarUserListsIcons {
            display: flex;
            align-items: center;
            gap: 0.1rem;

            button {
                width: fit-content;
                height: 100%;
                padding: 0.7rem 0.5rem;
            }
            button:hover {
                background-color: var(--SideBar-Hover);
            }

            & > :first-child {
                opacity: 0;
                transition-duration: 100ms;
            }

            button.SideBarUserListsCollapsed {
                transform: rotate(270deg);
            }
        }
    }
    .SideBarUserLists:hover {
        background-color: var(--SideBar-Hover);

        .SideBarUserListsIcons > :first-child {
            opacity: 1;
        }
    }
    .SideBarUserLists.Selected,
    .SideBarUserLists.Selected:hover {
        background-color: var(--Accent-Bg);
        * {
            color: var(--Accent-Color);
            fill: var(--Accent-Color);
        }
    }
}

.SideBarExpanded {
    position: relative;
    box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.09);
    height: 100vh;
}
.SideBarCollapsed {
    position: absolute;
    transform: translateX(-95%);
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.15);
    height: 98vh;
    top: 1vh;
    border-radius: 1rem;

    &:hover {
        transform: translateX(0);
    }
}

.SideBarUserListsLables {
    max-height: 20rem;
    overflow: hidden;

    transition: all 300ms linear ;
}

.SideBarUserListsLables.SideBarUserListsCollapsed {
    max-height: 0;
}
