.TodoPageComponentContainer {
    width: 100%;
    height: 100%;
    max-width: 120rem;

    display: flex;
    flex-direction: column;
    padding-inline: 10%;
    gap: 2rem;
    align-self: center;

    &.ListView {
        padding-inline: 10%;
    }

    &.BoardView {
        padding-inline: 0;
    }
}

.TodoPageComponentHeading {
    padding-left: 5.6rem;
    font: var(--Heading-1);
    color: var(--Primary-Text);
}

.TodoPageComponentSectionsContainer {
    display: flex;
    gap: 1rem;

    &.ListView {
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    &.BoardView {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
}
