.TodoCheckBoxContainer {
    background: none;
    border-radius: 0.5rem;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    * {
        width: 0.9rem;
        height: 0.9rem;
    }

    &.P1 {
        color: var(--TaskBox-P1);
        border: solid 0.2rem var(--TaskBox-P1);
        * {
            fill: none;
        }

        &:hover {
            * {
                fill: var(--TaskBox-P1);
            }
        }

        &.Checked {
            border: none;
            background-color: var(--TaskBox-P1-BG);
            * {
                fill: var(--Primary-BG);
            }

            &:hover {
                border: solid 0.2rem var(--TaskBox-P1);
            }
        }

        &.Disabled {
            opacity: 0.7;
            cursor: not-allowed;
            * {
                fill: var(--Primary-BG);
            }
            &:hover {
                border: solid 0.2rem var(--TaskBox-P1);
            }
        }
    }

    &.P2 {
        color: var(--TaskBox-P2);
        border: solid 0.2rem var(--TaskBox-P2);
        * {
            fill: none;
        }

        &:hover {
            * {
                fill: var(--TaskBox-P2);
            }
        }

        &.Checked {
            border: none;
            background-color: var(--TaskBox-P2-BG);
            * {
                fill: var(--Primary-BG);
            }

            &:hover {
                border: solid 0.2rem var(--TaskBox-P2);
            }
        }
    }

    &.P3 {
        color: var(--TaskBox-P3);
        border: solid 0.2rem var(--TaskBox-P3);
        * {
            fill: none;
        }

        &:hover {
            * {
                fill: var(--TaskBox-P3);
            }
        }

        &.Checked {
            border: none;
            background-color: var(--TaskBox-P3-BG);
            * {
                fill: var(--Primary-BG);
            }

            &:hover {
                border: solid 0.2rem var(--TaskBox-P3);
            }
        }
    }

        &.P4 {
        color: var(--TaskBox-P4);
        border: solid 0.2rem var(--TaskBox-P4);
        * {
            fill: none;
        }

        &:hover {
            * {
                fill: var(--TaskBox-P4);
            }
        }

        &.Checked {
            border: none;
            background-color: var(--TaskBox-P4-BG);
            * {
                fill: var(--Primary-BG);
            }

            &:hover {
                border: solid 0.2rem var(--TaskBox-P4);
            }
        }
    }
}
