.UserNameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 10px;
    align-items: center;
    font: var(--Text-2);

    .UserNameText {
        width: 0;
        opacity: 0;
        transform: translateX(0.5rem);
        transition: all 500ms;
        overflow: hidden;
    }

    .UserNameVIcon {
        transition-duration: 300ms;
    }

    .UserNameBellIcon {
        transition-duration: 300ms;
    }

    .UserNameLeft,
    .UserNameRight {
        display: flex;
        flex-direction: row;
        height: fit-content;
        align-items: center;
    }
    .UserNameLeft{
        gap: 0.5rem;
        width: 6rem;
        flex-shrink: 0;
        transition: width 300ms ease;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover{
            background-color: var(--SideBar-Hover);
        }
    }
}

.UserNameContainer.UserNameExpanded {

    .UserNameLeft{
        width: 12rem;
    }

    .UserNameText {
        position: relative;
        width: 100%;

        transform: translateX(0rem);
        opacity: 1;
    }

    .UserNameVIcon {
        transform: rotate(180deg);
    }

    .UserNameBellIcon {
        transform: translateX(-1rem);
        opacity: 0;
    }
}
