/* <--------------------- 'Icons-size' ---------------------> */
.Icon-XS {
    height: 1.2rem;
    aspect-ratio: 1;
    font-size: 1.2rem;
}
.Icon-S {
    height: 1.6rem;
    aspect-ratio: 1;
    font-size: 1.6rem;
}
.Icon-M {
    height: 2rem;
    aspect-ratio: 1;
    font-size: 2rem;
}
.Icon-L {
    height: 2.4rem;
    aspect-ratio: 1;
    font-size: 2.4rem;
}
.Icon-XL {
    height: 2.8rem;
    aspect-ratio: 1;
    font-size: 2.8rem;
}

/*                 --------***--------                 */

.Icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 100%;
    }
}

.IconsDisplayAll {
    background-color: var(--Primary-Bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem;

    .IconsDisplayAllIcon {
        border: 0.1rem solid var(--TaskBox-P0-BG);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;
        p {
            font: var(--Text-1);
            color: var(--Secondary-Text);
        }
    }
}

.IconCalendarToday {
    position: relative;

    .IconCalendarTodayDate {
        position: absolute !important;
        color: #999999;
        font-size: 0.5em !important;
        font-weight: bold !important;;
        font-family: var(--Sans-Serif-Font)!important;;
        top: 40% !important;;
        width: 100% !important;;
        text-align: center !important;
    }
}
