.TodoDatePickerContainer {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: 1rem;
    padding-block: 1rem;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
    background-color: var(--Primary-BG);
}

.TodoDatePickerTopButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    button {
        background-color: transparent;
        cursor: pointer;

        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #0000002f;
    }

    .TodoDatePickerTodayButton {
        .Icon svg,
        path,
        div {
            fill: #4b9244;
            color: #4b9244;
        }

        &:hover {
            background-color: rgba(75, 146, 68, 0.1);
            border-color: #4b9244;
        }
    }

    .TodoDatePickerTomorrowButton {
        .Icon svg,
        path {
            fill: #e69641;
        }

        &:hover {
            background-color: rgba(230, 150, 65, 0.1);
            border-color: #e69641;
        }
    }

    .TodoDatePickerWeekendButton {
        &:hover {
            background-color: rgba(134, 71, 217, 0.1);
            border-color: #8647d9;
        }
    }

    .TodoDatePickerComingMondayButton {
        .Icon svg,
        path {
            fill: #0071ff;
        }

        &:hover {
            background-color: rgba(0, 113, 255, 0.1);
            border-color: #0071ff;
        }
    }

    .TodoDatePickerNoDateButton {
        .Icon svg,
        path {
            fill: var(--Disabled);
        }

        &:hover {
            background-color: rgba(from var(--Disabled) r g b/ 10%);
            border-color: var(--Disabled);
        }
    }
}

.TodoDatePickerCalendar {
    width: 30rem;
    height: 32rem;
}

.MuiDateCalendar-root {
    width: 28rem !important;
}
